body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

h1{
   text-align: center;
}

.iten{
  background-color: #111;
  padding: 20px;
  margin: 20px;
  color: #f4f4f4;
  border-radius: 5px;
}
.iten p{
  color: #b2b2b2;
}
.iten  span{
  color: #febe01;
}
.iten a{
  color: #332100;
  text-decoration: none;
  background-color: #febe01;
  padding: 10px;
  border-radius: 5px; 
  display: inline-block;
}

footer{
  margin: 50px 0 auto 0;
}