section {
  background-color: bisque;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    width: 80vw;
    gap: 20px;
    align-items: center;

}

section a {
    color: rgb(235, 107, 3);
    text-decoration: none; 
    padding: 20px;
    border: 2px solid rgb(13, 13, 14);
    border-radius: 8px;
}